<style>
    .finish{
        text-decoration: line-through;
        color: #999;
    }
</style>
<md-content flex>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <h1>Todo</h1>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <form ng-submit="addData()">
            <md-input-container>
                <label>Ajouter une tâche</label>
                <input ng-model="newData.name" type="text" md-autofocus>
                <md-button type="submit" class="md-raised md-primary">Ajouter</md-button>
            </md-input-container>
        </form>
    </section>



    <section layout="row" layout="column" layout-align="center center" layout-wrap >
        <md-list flex="50" class="md-whiteframe-1dp">
            <md-subheader class="md-no-sticky">{{data.length}} tâche(s)</md-subheader>
            <custom-list-item data-d="data">


            </custom-list-item>
        </md-list>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button  class="md-raised md-primary" ng-click="removeFinished()">Supprimer les tâches terminées</md-button>
    </section>
</md-content>