<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-list-item ng-show="data_list.length > 0">
        <p> Cocher </p>
        <md-checkbox class="md-secondary" ng-change="toggleCheck();checkedAll = !checkedAll" ng-model="checked" ></md-checkbox>
    </md-list-item>
</section>
<md-input-container>
    <label>Rechercher une tâche</label>
    <input ng-model="filterText" type="text" ng-change="currentPage = 0">
</md-input-container>

<md-list-item class="md-1-line" ng-repeat="d in displayItems = (data_list | filter : {name: filterText}) | startFrom:currentPage*pageSize | limitTo:pageSize">
    <md-checkbox ng-model="d.done" ng-change="testCheck(d)"></md-checkbox>
    <md-input-container class="md-block" flex  ng-if="editTask !== d">
        <p ng-class="{finish:d.done}">{{d.name}}</p>
    </md-input-container>
    <form ng-submit="closeEdit();" flex ng-if="editTask === d">

        <md-input-container class="md-block" flex>
            <label>Modifier la tâche</label>
            <input ng-model="d.name" id="test" type="text" ng-blur="closeEdit()" ng-click="$event.stopPropagation()">
        </md-input-container>

    </form>
    <md-icon class="md-secondary" ng-click="edit(d)" event-focus-id="test" md-font-icon="material-icons">edit</md-icon>
    <md-icon class="md-secondary" ng-click="removeData(d)" md-font-icon="material-icons">delete</md-icon>

</md-list-item>
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= data_list.length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
</button>